@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

.h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 2px;
}

.h2, .title {
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
}

.h3, .card-review__name, .card__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.p-big, .tabs__item, .card-review__text, .arrow-btn {
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
}

.p-normal, .label, .input, .dropdown, .big-btn, .subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.p-small, .form__agreement, .card-review__tour, .card__price, .btn {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
}

/* Colors */
.title {
  text-align: center;
  margin: 0 auto 30px;
}

.subtitle {
  color: #A6A6A6;
  text-align: center;
  margin: 0 auto 100px;
}

/* Colors */
/* Colors */
.btn {
  padding: 5px 20px;
  border-radius: 10px;
  color: #1B1F2B;
  background: #FFF;
  cursor: pointer;
  transition: background 0.4s, color 0.2s;
}
.btn:hover {
  background: #EFA501;
  color: #FFF;
}
.btn:active {
  background: #F8E6BE;
  color: #1B1F2B;
}

.arrow-btn {
  display: inline-flex;
  align-items: center;
  padding: 7px 20px;
  gap: 15px;
  border-radius: 50px;
  transition: all 0.3s;
}
.arrow-btn::after {
  content: "";
  width: 24px;
  height: 26px;
  background: url("../../images/icons/arrow-icon.svg");
}

.big-btn {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 10px;
  background: #286562;
  cursor: pointer;
  transition: all 0.3s;
}
.big-btn:hover {
  background: #3B7E7B;
}
.big-btn:active {
  background: #627F7E;
}
.big-btn--reset {
  color: #286562;
  background: #E0F0E5;
}
.big-btn--reset:hover {
  background: #F1F3F2;
}
.big-btn--reset:active {
  background: #D9DFDB;
}

/* Colors */
.card {
  text-align: left;
  grid-column: span 4;
  max-width: 370px;
  width: 100%;
  height: 531px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card__image {
  height: auto;
  max-width: 100%;
  transition: transform 0.3s ease;
}
.card__content {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
  grid-column: span 4;
  padding: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
}
.card__price {
  margin-bottom: auto;
}
.card:hover .card__image {
  transform: scale(1.2);
}
.card:hover .card__btn {
  transform: translateX(-20px);
  background: #286562;
}

/* Colors */
.card-review {
  grid-column: span 6;
  padding: 40px;
  border-radius: 50px;
  background: #F4F0E9;
  display: flex;
  flex-direction: column;
}
.card-review__text {
  margin-bottom: auto;
}
.card-review__text:nth-child(2) {
  margin-top: 28px;
}
.card-review__info {
  display: flex;
  padding-top: 70px;
  align-items: flex-end;
  align-self: stretch;
}
.card-review__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.card-review__image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
/* Colors */
.dropdown {
  padding: 20px;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
  transition: all 0.3s;
}

/* Colors */
.input {
  padding: 20px;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  background: #F9F7F4;
  transition: all 0.3s;
}
.input::placeholder {
  color: #A6A6A6;
}
.input:hover {
  background: #F4F0E9;
}
.input:focus {
  border-color: #A6A6A6;
  background: #F4F0E9;
}

.radio {
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radio:checked::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #1B1F2B;
  border-radius: 50%;
}

.checkbox {
  width: 26px;
  height: 26px;
  border: 2px solid #1B1F2B;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox:checked::before {
  content: "";
  display: block;
  width: 13px;
  height: 10px;
  background: url("../../images/icons/checkbox-arrow.svg");
}

.label {
  display: flex;
  align-items: center;
  gap: 11px;
}

/* Colors */
.h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 2px;
}

.h2, .title {
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
}

.h3, .card__title, .card-review__name {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.p-big, .tabs__item, .arrow-btn, .card-review__text {
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
}

.p-normal, .subtitle, .big-btn, .dropdown, .input, .label {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.p-small, .form__agreement, .btn, .card__price, .card-review__tour {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
}

.tabs {
  display: inline-flex;
  gap: 30px;
}
.tabs__item {
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}
.tabs__item--active {
  color: #EFA501;
}
.tabs__item--active::after {
  background: #EFA501;
}
.tabs__item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  margin: 0 auto;
  background: #1B1F2B;
  transition: width 0.3s;
}
.tabs__item:hover::after {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-gap: 30px;
}

.h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 2px;
}

.h2, .title {
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
}

.h3, .card__title, .card-review__name {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.p-big, .arrow-btn, .card-review__text, .tabs__item {
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
}

.p-normal, .subtitle, .big-btn, .dropdown, .input, .label {
  font-size: 20px;
  font-weight: 400;
  line-height: 142%;
}

.p-small, .form__agreement, .btn, .card__price, .card-review__tour {
  font-size: 17px;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: -0.17px;
}

/* Colors */
.form {
  padding: 70px;
  background: #FFF;
  border-radius: 50px;
  grid-template-columns: repeat(4, 235px);
  grid-column-gap: 30px;
  grid-row-gap: 33px;
}
.form__agreement {
  color: #A6A6A6;
}
.form__agreement--accent {
  color: #1B1F2B;
}
.form__item {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}
.form__item--long {
  grid-column: span 4;
}
.form__item--short {
  grid-column: span 1;
}
.form__textarea {
  height: 152px;
}
.form__radio-btns {
  display: flex;
  gap: 31px;
}

/* Colors */
.header {
  padding: 29px 0;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-fixed {
  position: fixed;
  color: #1B1F2B;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}
.header-fixed .logo__image path {
  fill: #1B1F2B;
}
.header-fixed .menu__link::after {
  background-color: #1B1F2B;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 135px;
}

/* Colors */
.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link {
  position: relative;
}
.menu__link::after {
  position: absolute;
  content: "";
  display: block;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FFF;
  transition: width 0.3s;
}
.menu__link:hover::after {
  width: 100%;
}

/* Colors */
body {
  font-family: Roboto, sans-serif;
  color: #1B1F2B;
  font-weight: 400;
  font-style: normal;
  background: #F9F7F4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.intro {
  padding: 207px 0 119px;
  background: url("../../images/header-bg.jpg") no-repeat;
  background-size: cover;
  color: #FFF;
}
.intro__title {
  text-align: center;
}
.intro__inner {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
}
.intro__subtitle {
  max-width: 562px;
  color: #FFF;
  margin-bottom: 0;
}

.choice {
  text-align: center;
}

.tabs__items {
  margin-bottom: 100px;
}

.make__title {
  margin-bottom: 30px;
}
.make__subtitle {
  max-width: 480px;
  margin: 0 auto 100px;
}

.reviews__title {
  max-width: 530px;
}
.reviews__subtitle {
  max-width: 420px;
}

.photos {
  padding: 0 30px;
}
.photos__subtitle {
  max-width: 405px;
}
.photos__grid {
  grid-template-columns: repeat(20, 1fr);
  grid-column-gap: 30px;
}
.photos__item {
  min-height: 301px;
  border-radius: 50px;
  grid-column: span 5;
}
.photos__item--small {
  grid-column: span 4;
}

/*# sourceMappingURL=main.css.map */
