/* Error: 500 and 6vw are incompatible.
 *    ,
 * 21 |     font-weight: clamp(500, 6vw, 700);
 *    |                        ^^^ 500
 *    |                             === 6vw
 *    '
 *   base\_typography.scss 21:24  @import
 *   main.scss 4:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 500 and 6vw are incompatible.\a    \2577 \a 21 \2502      font-weight: clamp(500, 6vw, 700);\d\a    \2502                         ^^^ 500\a    \2502                              \2501 \2501 \2501  6vw\a    \2575 \a   base\\_typography.scss 21:24  @import\a   main.scss 4:9                root stylesheet";
}
