@import "../utils/variables";

// Typography

.h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 109%;
    letter-spacing: 2px;
}

.h2 {
    font-size: 59px;
    font-weight: 700;
    line-height: 124%;
}

.h3 {
    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
}

.p-big {
    font-size: 23px;
    font-weight: 700;
    line-height: 122%;
}

.p-normal {
    font-size: 20px;
    font-weight: 400;
    line-height: 142%;
}

.p-small {
    font-size: 17px;
    font-weight: 400;
    line-height: 142%;
    letter-spacing: -0.17px;
}

@media (max-width: 768px) {
    .h1 {
        font-size: clamp(34px, 8vw, 96px);
        line-height: 112%;
        letter-spacing: 0.68px;
    }

    .h2 {
        font-size: clamp(34px, 6vw, 59px);
        line-height: 112%;
        letter-spacing: 0.68px;
    }

    .h3 {
        font-size: clamp(23px, 5vw, 35px);
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0.92px;
    }

    .p-big {
        font-size: clamp(16px, 4vw, 23px);
        line-height: 142%;
    }

    .p-normal {
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 400;
        line-height: 142%;
    }

    .p-small {
        font-size: clamp(16px, 4vw, 17px);
        font-weight: 400;
        line-height: 142%;
        letter-spacing: -0.16px;
    }
}

