@mixin flex-column($gap-size: 0)  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-size;
}

@mixin flex-row($gap-size: 0) {
    display: flex;
    align-items: center;
    gap: $gap-size;
    justify-content: center;
}