@import "../utils/variables";

.arrow-btn {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 7px 20px;

    @extend .p-big;

    border-radius: $border-radius;
    cursor: pointer;

    transition: all .3s;

    &::after {
        width: 24px;
        height: 26px;

        background: url("../images/icons/arrow-icon.svg");

        content: "";
    }
}