@import "../utils/variables";

.big-btn {
    @extend .p-normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 235px;
    min-width: 133px;
    width: 100%;
    padding: 15px 30px;
    color: $white;
    border-radius: 10px;
    background: $green-400;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background: $green-300;
    }

    &:active {
        background: $green-200;
    }

    &--reset {
        color: $green-400;
        background: $green-100;

        &:hover {
            background: $gray-100;
        }

        &:active {
            background: $gray-200;
        }
    }
}
