@import "../utils/variables";

.btn {
    @extend .p-small;
    padding: 5px 20px;
    border-radius: 10px;
    color: $black;
    background: $white;
    cursor: pointer;
    transition: background .4s, color .2s;

    &:hover {
        background: $orange-200;
        color: $white;
    }

    &:active {
        background: $orange-100;
        color: $black;
    }
}


