@import "../utils/variables";

.btn {
    padding: 5px 20px;

    @extend .p-small;

    color: $black;
    background: $white;
    border-radius: 10px;
    cursor: pointer;

    transition: background .4s, color .2s;

    &:hover {
        color: $white;
        background: $orange-200;
    }

    &:active {
        color: $black;
        background: $orange-100;
    }
}


