@import "../utils/variables";

.card-history {
    position: relative;

    @extend .flex-row;
    align-items: stretch;
    height: clamp(455px, 24.393rem + 17.26vw, 567px);

    @extend .p-normal;

    color: $white;
    border-radius: $border-radius-change;
    overflow: hidden;
    cursor: pointer;

    &__image {
        @extend .bg-image;
    }

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        padding: clamp(30px, 7vw, 60px);

        background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0.01%, rgba(0, 0, 0, 0.20) 100%);
    }

    &__inner {
        max-width: 554px;
    }

    &__title {
        margin-bottom: clamp(20px, 5vw, 37px);

        @extend .h3;
    }

    &__text {
        margin-bottom: 27px;
    }

    &__item::before {
        margin-inline: 11px;

        content: "•";
    }

    &__footer {
        position: absolute;
        bottom: clamp(30px, 7vw, 60px);
        left: clamp(30px, 7vw, 60px);
        right: clamp(30px, 7vw, 60px);

        @extend .flex-row;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__btn {
        transform: translate(-20px, 7px);
    }

    &__socials-list {
        @extend .flex-row;
        flex-wrap: wrap;
        column-gap: clamp(10px, -0.484rem + 4.17vw, 35px);
    }

    &__socials-item {
        position: relative;

        &:hover::after {
            width: 100%;
        }

        &::after {
            @extend .underline;

            background: $white;
        }
    }

    &:hover {
        .card-history__image {
            transform: scale(1.2);
        }

        .card-history__btn {
            background: $green-400;
        }
    }
}

@media (max-width: 425px) {
    .card-history {
        &__title {
            max-width: 145px;
        }

        &__socials-list {
            display: none;
        }
    }
}