@import "../utils/variables";

.card {
    position: relative;

    @extend .flex-column;
    align-items: stretch;
    grid-column: span 4;
    width: 100%;
    height: clamp(318px, 12.183rem + 32.82vw, 531px);

    text-align: left;

    border-radius: $border-radius-change;
    overflow: hidden;
    cursor: pointer;

    &__title {
        max-width: 230px;

        @extend .h3;
    }

    &__image {
        @extend .bg-image;
    }

    &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;

        @extend .flex-column;
        align-items: flex-start;
        grid-column: span 4;
        gap: 16px;
        padding: clamp(30px, -1.202rem + 4.81vw, 50px);

        text-align: left;

        color: $white;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    &__btn {
        transform: translate(-20px, 7px);
    }

    &__price {
        margin-bottom: auto;

        @extend .p-small;
    }

    &:hover {
        .card__image {
            transform: scale(1.2);
        }

        .card__btn {
            background: $green-400;
        }
    }
}

@media (max-width: 1024px) {
    .card {
        grid-column: span 6;

        &__title {
            max-width: 100%;
        }

        &__content {
            padding: clamp(25px, 0.66rem + 3.85vw, 50px);
        }
    }
}