@import "../utils/variables";

.card {
    @extend .flex-column;
    align-items: stretch;
    text-align: left;
    grid-column: span 4;
    width: 100%;
    //max-height: 531px;
    height: clamp(318px, 55vw, 531px);
    border-radius: $border-radius-change;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__title {
        @extend .h3;
        max-width: 230px;
    }

    &__image {
        @extend .bg-image;
    }

    &__content {
        @extend .flex-column;
        gap: 16px;
        color: $white;
        align-items: flex-start;
        text-align: left;
        grid-column: span 4;
        padding: clamp(25px, 5vw, 50px);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    &__btn {
        transform: translate(-20px, 7px);
    }

    &__price {
        @extend .p-small;
        margin-bottom: auto;
    }

    &:hover {
        .card__image {
            transform: scale(1.2);
        }

        .card__btn {
            background: $green-400;
        }
    }
}

@media (max-width: 1024px) {
    .card {
        grid-column: span 6;
        &__title {
            max-width: 100%;
        }
    }
}