@import "../utils/variables";

.card-review {
    @extend .flex-column;

    grid-column: span 6;
    padding: clamp(20px, 0.528rem + 3.08vw, 40px);

    background: $beige-200;
    border-radius: $border-radius-change;

    &__text {
        @extend .p-big;

        margin-bottom: auto;

        &:nth-child(2) {
            margin-top: clamp(23px, 1.257rem + 0.77vw, 28px);
        }
    }

    &__info {
        display: flex;
        align-items: flex-end;
        align-self: stretch;
        padding-top: clamp(40px, 10vw, 70px);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        flex: 1 0 0;
    }

    &__image {
        width: 75px;
        height: 75px;

        border-radius: 50%;
    }

    &__name {
        @extend .h3;
    }

    &__tour {
        @extend .p-small;
    }
}