@import "../utils/variables";

.checkbox {
    @extend .flex-row;
    flex: none;
    width: clamp(20px, 1.033rem + 0.92vw, 26px);
    height: clamp(20px, 1.033rem + 0.92vw, 26px);
    border: 2px solid $black;
    border-radius: 5px;
    cursor: pointer;

    &:checked::before {
        content: "";
        display: block;
        width: 13px;
        height: 10px;
        background: url("../images/icons/checkbox-arrow.svg");
    }
}