@import "../utils/variables";

.checkbox {
    @extend .flex-row;
    flex: none;
    width: 26px;
    height: 26px;
    border: 2px solid $black;
    border-radius: 5px;
    cursor: pointer;

    &:checked::before {
        content: "";
        display: block;
        width: 13px;
        height: 10px;
        background: url("../images/icons/checkbox-arrow.svg");
    }
}

@media (max-width: 375px) {
    .checkbox {
        width: 20px;
        height: 20px;
    }
}