@import "../utils/variables";

.dropdown-wrapper {
    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        right: clamp(10px, 0.264rem + 1.54vw, 20px);
        z-index: 20;

        display: block;
        width: 26px;
        height: 26px;

        background: url("../images/icons/dropdown-icon.svg");
        border-radius: 50%;
        transform: translateY(-50%);

        transition: all .3s;

        content: "";
    }
}

.dropdown {
    position: relative;

    flex: 1 1 auto;
    width: 100%;
    padding: 20px;

    @extend .p-normal;

    border: 1px solid $beige-200;
    border-radius: 10px;
    background: $beige-100;

    transition: all .3s;
}

