@import "../utils/variables";

.input {
    @extend .p-normal;
    padding: clamp(10px, 2.5vw, 20px);
    border: 1px solid $beige-200;
    border-radius: 10px;
    background: $beige-100;
    transition: all .3s;

    &--invalid {

    }

    &::placeholder {
        color: $gray-300;
    }

    &:hover {
        background: $beige-200;
    }

    &:focus {
        border-color: $gray-300;
        background: $beige-200;
    }
}


@media (max-width: 375px) {
    .input {
        padding: 10px;
    }
}