@import "../utils/variables";
@import "../base/typography";

.tabs {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: clamp(10px, 2.9vw, 30px);
    row-gap: 4px;

    &__item {
        @extend .p-big;

        position: relative;

        padding-bottom: 6px;

        cursor: pointer;

        &--active {
            color: $orange-200;

            &::after {
                width: 100%;

                background: $orange-200;
            }
        }

        &::after {
            @extend .underline;
        }

        &:hover::after {
            width: 100%;
        }
    }
}