@import "../utils/variables";
@import "../base/typography";

.tabs {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: clamp(10px, 2.9vw, 30px);
    row-gap: 4px;

    &__item {
        @extend .p-big;
        cursor: pointer;
        position: relative;
        padding-bottom: 6px;

        &--active {
            color: $orange-200;

            &::after {
                background: $orange-200;
                width: 100%;
            }
        }

        &::after {
            @extend .underline;
        }

        &:hover::after {
            width: 100%;
        }
    }
}