@import "../utils/variables";

body {
    @extend .p-normal;
    font-family: Roboto, sans-serif;
    color: $black;
    font-style: normal;
    background: $beige-100;
}

.wrapper {
    @extend .flex-column;
    gap: clamp(75px, 20vw, 135px);
    align-items: stretch;
    overflow: hidden;
}

.container {
    max-width: calc(1170px + 2 * clamp(21px, 5.8vw, 53px));
    width: 100%;
    padding: 0 clamp(21px, 5.8vw, 53px);
    margin: 0 auto;
}

.link {
    color: $black;
}

// intro

.intro {
    padding: 207px 0 119px;
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: cover;
    color: $white;

    &__inner {
        @extend .flex-column;
        gap: 50px;
        max-width: 768px;
        margin: 0 auto;
    }

    &__title {
        @extend .h1;
        text-align: center;
    }

    &__subtitle {
        max-width: 562px;
        color: $white;
        margin-bottom: 0;
    }
}

// Choice

.choice {
    text-align: center;

    &__title {
        margin-bottom: 35px;
    }

    &__tabs {
        margin-bottom: clamp(42px, 10vw, 100px);
    }
}

// Reviews

.reviews__title {
    max-width: 530px;
}

// Photos

.photos {
    padding: 0 30px;

    &__grid {
        grid-template-columns: repeat(20, 1fr);
        grid-column-gap: 30px;
    }

    &__wrapper {
        @extend .flex-row;
        align-items: stretch;
        min-height: 301px;
        border-radius: $border-radius-change;
        grid-column: span 5;
        overflow: hidden;
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9), {
            grid-column: span 4;
        }
    }

    &__item {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

// History

.history__inner {
    @extend .flex-column;
    gap: clamp(20px, 5vw, 50px);
}

// Action

.action {
    &__inner {
        @extend .flex-row;
        gap: 30px;
    }

    &__image {
        border-radius: $border-radius-change;
        width: 370px;
    }

    &__item {
        max-width: 370px;
    }

    &__info {
        @extend .flex-column;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        @extend .h3;
    }

    &__text {
        color: $gray-300;
        &--accent {
            color: $black;
        }
    }

    &__link {
        position: relative;

        &::after {
            @extend .underline;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        gap: clamp(75px, 15vw, 135px);
    }

    // Intro

    .intro__subtitle {
        max-width: 440px;
    }

    // Choice

    .choice {
        &__title {
            margin-bottom: clamp(30px, 5vw, 35px)
        }
    }

    .photos {
        padding: 0 20px;
        &__grid {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }

        &__wrapper {
            grid-column: span 4;
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(9) {
                grid-column: span 3;
            }

            &:nth-child(2),
            &:nth-child(7),
            &:nth-child(13) {
                display: none;
            }
        }
    }

    // Action
    .action {
        &__image {
            width: clamp(130px, 40vw, 370px);
        }
    }
}

@media (max-width: 768px) {
    .intro {
        padding: clamp(140px, 3vw, 207px) 0 clamp(52px, 3vw, 119px);
        &__inner {
            gap: clamp(40px, 7vw, 50px);
        }
    }

    .photos {
        padding: 0 21px;
        &__grid {
            grid-template-columns: repeat(6, 1fr);
            grid-row-gap: 18px;
            grid-column-gap: 10px;
        }

        &__wrapper {
            min-height: 110px;
            grid-column: span 3;
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(9) {
                grid-column: span 2;
            }

            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(12) {
                display: none;
            }
        }
    }

    .action {
        &__image {
            width: clamp(310px, 10wv, 130px);
            border-radius: $border-radius-small;
        }

        &__inner {
            flex-direction: column;
            text-align: center;
        }
    }
}

@media (max-width: 375px) {
    .intro__subtitle {
        max-width: 250px;
    }

    .action__image {
        width: 130px;
        height: 133px;
    }
}