@import "../utils/variables";
@import "../utils/mixins";

body {
    @extend .p-normal;
    font-family: Roboto, sans-serif;
    color: $black;
    font-style: normal;
    background: $beige-100;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    max-width: 1230px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

// intro

.intro {
    padding: 207px 0 119px;
    background: url("../../images/header-bg.jpg") no-repeat;
    background-size: cover;
    color: $white;

    &__title {
        text-align: center;
    }

    &__inner {
        @include flex-column(50px);
        max-width: 768px;
        margin: 0 auto;
    }

    &__subtitle {
        max-width: 562px;
        color: $white;
        margin-bottom: 0;
    }
}

// Choice

.choice {
    text-align: center;
}

.tabs__items {
    margin-bottom: 100px;
}

// Reviews

.reviews__title {
    max-width: 530px;
}

// Photos

.photos {
    padding: 0 30px;

    &__grid {
        grid-template-columns: repeat(20, 1fr);
        grid-column-gap: 30px;
    }

    &__item {
        min-height: 301px;
        border-radius: $border-radius;
        grid-column: span 5;
        &--small {
            grid-column: span 4;
        }
    }
}

// History

.history__inner {
    @include flex-column(50px);
}

// Action

.action {
    &__image {
        border-radius: $border-radius;
    }

    &__info {
        @include flex-column(20px);
        justify-content: center;
    }

    &__title {
        @extend .h3;
    }

    &__item:first-child {
        grid-column: 3 / 7;
    }

    &__item:last-child {
        grid-column: 7 / 11;
    }

    &__text {
        color: $gray-300;
        &--accent {
            color: $black;
        }
    }
}