@import "../utils/variables";

body {
    @extend .p-normal;
    font-family: Roboto, sans-serif;
    color: $black;
    font-style: normal;
    background: $beige-100;
}

.wrapper {
    @extend .flex-column;
    gap: clamp(75px, 2.521rem + 9.24vw, 135px);
    align-items: stretch;
    overflow: hidden;
}

.container {
    max-width: calc(1170px + 2 * $container-padding);
    width: 100%;
    padding: 0 $container-padding;
    margin: 0 auto;
}

.link {
    color: $black;
}

// intro

.intro {
    padding: clamp(140px, 6.33rem + 10.32vw, 207px) 0 clamp(52px, 0.83rem + 10.32vw, 119px);
    background: url("../images/header-bg.jpg") no-repeat;
    background-size: cover;
    color: $white;

    &__inner {
        @extend .flex-column;
        gap: clamp(40px, 2.139rem + 1.54vw, 50px);
        max-width: 768px;
        margin: 0 auto;
    }

    &__title {
        @extend .h1;
        text-align: center;
    }

    &__subtitle {
        max-width: 562px;
        color: $white;
        margin-bottom: 0;
    }
}

// Choice

.choice {
    text-align: center;

    &__title {
        margin-bottom: clamp(30px, 1.694rem + 0.77vw, 35px);
    }

    &__tabs {
        margin-bottom: clamp(44px, 0.728rem + 8.63vw, 100px);
    }
}

// Reviews

.reviews__title {
    max-width: 530px;
}

// Photos

.photos {
    &__container {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        padding: 0 30px;
    }

    &__grid {
        grid-template-columns: repeat(20, 1fr);
        grid-column-gap: clamp(20px, -0.288rem + 2.4vww, 30px);
        grid-row-gap: 30px;
    }

    &__wrapper {
        @extend .flex-row;
        align-items: stretch;
        min-height: 301px;
        border-radius: $border-radius-change;
        grid-column: span 5;
        overflow: hidden;
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9), {
            grid-column: span 4;
        }
    }

    &__item {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

// History

.history__inner {
    @extend .flex-column;
    gap: clamp(20px, 0.167rem + 4.62vw, 50px);
}

// Action

.action {
    &__inner {
        @extend .flex-row;
        gap: 30px;
    }

    &__item {
        max-width: clamp(295px, 4.375rem + 29.3vw, 370px);
        width: 100%;
    }

    &__image {
        border-radius: $border-radius-change;
        width: clamp(130px, -0.542rem + 36.98vw, 370px);
        height: clamp(133px, -0.246rem + 36.52vw, 370px);
    }

    &__info {
        @extend .flex-column;
        gap: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    &__title {
        @extend .h3;
    }

    &__text {
        color: $gray-300;
        &--accent {
            color: $black;
        }
    }

    &__link {
        position: relative;

        &::after {
            @extend .underline;
        }

        &:hover:after {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    // Intro
    .intro__subtitle {
        max-width: 440px;
    }

    .photos {
        &__container {
            padding: 0 20px;
        }

        &__grid {
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: clamp(10px, 1.053rem + 0.31vw, 20px);
            grid-row-gap: clamp(18px, 0.692rem + 1.85vw, 30px);
        }

        &__wrapper {
            grid-column: span 4;
            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(9) {
                grid-column: span 3;
            }

            &:nth-child(2),
            &:nth-child(7),
            &:nth-child(13) {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .photos {
        &__grid {
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 10px;
        }

        &__wrapper {
            min-height: 110px;
            grid-column: span 3;
            &:nth-child(6),
            &:nth-child(8),
            &:nth-child(9) {
                grid-column: span 2;
            }

            &:nth-child(3),
            &:nth-child(5),
            &:nth-child(12) {
                display: none;
            }
        }
    }

    .action {
        &__item {
            max-width: 100%;
        }

        &__info {
            align-items: center;
        }

        &__inner {
            flex-direction: column;
            text-align: center;
        }
    }
}

@media (max-width: 375px) {
    .intro__subtitle {
        max-width: 250px;
    }

    .photos__container {
        padding: 0 21px;
    }

    .make__subtitle {
        margin-bottom: 40px;
    }

    .action__text {
        max-width: 291px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 1190px;
        padding: 0 10px;
    }
}