@import "../utils/variables";
@import "../utils/mixins";

.footer {
    padding: 30px 0;
    background: $beige-200;

    &__text {
        color: $gray-300;
    }

    &__inner {
        @include flex-row;
        justify-content: space-between;
    }

    &__socials {
        @include flex-row(25px);
    }

    &__item {
        @include flex-row(10px);
    }
}