@import "../utils/variables";

.footer {
    padding: clamp(21px, 0.987rem + 1.39vw, 30px) 0;
    background: $beige-200;
    color: $gray-300;

    &__inner {
        @extend .flex-row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 8px;
    }

    &__socials {
        @extend .flex-row;
        gap: clamp(15px, 0.576rem + 1.54vw, 25px)
    }

    &__link {
        @extend .flex-row;
        gap: clamp(5px, 1vw, 10px);
    }

    &__social {
        position: relative;
        color: $black;
        &::after {
            @extend .underline;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
    .footer__inner {
        justify-content: center;
    }
}