@import "../base/typography";
@import "../utils/variables";
@import "../utils/mixins";

.form {
    padding: 70px;
    background: $white;
    border-radius: $border-radius;
    grid-template-columns: repeat(4, 235px);
    grid-column-gap: 30px;

    &__item {
        @include flex-column(8px);
        grid-column: span 2;
        text-align: left;
        align-items: stretch;

        &--long {
            grid-column: span 4;
        }

        &--short {
            grid-column: span 1;
        }
    }

    &__agreement {
        @extend .p-small;
        color: $gray-300;

        &--accent {
            color: $black;
            margin-left: 3px;
        }
    }

    &__checkbox {
        margin-right: 19px;
    }

    &__textarea {
        height: 152px;
    }

    &__radio-btns {
        @include flex-row(31px);
        justify-content: left;
    }
}