@import "../base/typography";
@import "../utils/variables";

.form {
    padding: clamp(20px, 5.85vw, 70px);
    background: $white;
    border-radius: clamp($border-radius-middle, 8vw, $border-radius);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;

    &__item {
        @extend .flex-column;
        gap: 8px;
        grid-column: span 1;
        text-align: left;
        align-items: stretch;

        &--long {
            grid-column: span 2;
        }

        &--group {
            flex-direction: row;
            gap: clamp(10px, 2.75vw, 30px);
        }
    }

    &__agreement {
        @extend .p-small;
        color: $gray-300;
    }

    &__checkbox {
        margin-right: 19px;
    }

    &__textarea {
        height: 152px;
    }

    &__radio-btns {
        @extend .flex-row;
        gap: 30px;
        justify-content: left;
    }
}

@media (max-width: 1024px) {
    .form {
        grid-column-gap: 20px;
    }
}

@media (max-width: 768px) {
    .form__item {
        grid-column: span 2;
    }
}