@import "../utils/variables";

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    padding: 29px 0;
    color: $white;

    transition: all .3s;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.header-fixed {
    position: fixed;

    color: $black;
    background: rgba(243, 239, 232, 0.60);
    backdrop-filter: blur(27px);

    .logo__image path {
        fill: $black;
    }

    .menu__link::after {
        background-color: $black;
    }
}

.logo {
    width: clamp(133px, 19vw, 182px);

    &__image {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .header__container {
        padding: 0 clamp(20px, 7vw, 57px) !important;
    }
}

@media (max-width: 768px) {
    .header__inner {
        align-items: center;
    }
}

@media (max-width: 375px) {
    .header__container {
        padding: 0 20px !important;
    }
}

@media (max-width: 320px) {
    .header__container {
        padding: 0 10px !important;
    }
}