@import "../utils/variables";

.make {
    text-align: center;

    &__title {
        margin-bottom: 30px;
    }

    &__subtitle {
        max-width: 480px;
        margin: 0 auto 100px;
    }
}

.make__subtitle {
    color: $gray-300;
}