@import "../utils/variables";
@import "../utils/mixins";

.menu__list {
    @include flex-row(50px);
}

.menu__link {
    position: relative;

    &::after {
        @extend .underline;
        background: $white;
    }

    &:hover::after {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .menu__list {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .menu__list {
        display: none;
    }
}