@import "../utils/variables";

.menu__list {
    @extend .flex-row;

    gap: 50px;
}

.menu__link {
    @extend .p-normal;

    position: relative;

    &::after {
        @extend .underline;
        background: $white;
    }

    &:hover::after {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .menu__list {
        gap: clamp(15px, -1.875rem + 5.86vw, 30px);
    }
}

@media (max-width: 768px) {
    .menu__list {
        display: none;
    }
}