@import "../utils/variables";

.menu__list {
    @extend .flex-row;
    gap: clamp(15px, 1.85vw, 50px);
}

.menu__link {
    position: relative;
    @extend .p-normal;

    &::after {
        @extend .underline;
        background: $white;
    }

    &:hover::after {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .menu__list {
        display: none;
    }
}